* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


html::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  margin: 0;


  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --nav-background:#1B1B1B;
  --nav-link-color: rgb(255, 255, 255);
  --nav-button-background: #E1765A;
  --nav-button-hover-background: #b6553c;
  --nav-button-color: #2C2C2C;
  --section-1-background:#1B1B1B;
  --clr-1: #2deaff;
  --clr-2: #25b6c9;
  --clr-3: #0c5057;
  /* --c1: rgb(255, 62, 3); */
  --c1: rgb(57, 178, 205);
  /* --c1: rgba(168, 239, 255, 1); */
	--c2: rgba(168, 239, 255, 0.1);

  /*   
#E1765A
#1B1B1B
#2C2C2C
#696969 */
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




